<div id="main-content" class="mt-6 h-full">
  {% if messages %}
    {% include "_messages.html" with messages=messages %}
  {% endif %}
  <div class="container h-3/4 max-w-2xl p-4">
    <div class="flex justify-between border-b py-4">
      <h1 class="text-3xl font-bold tracking-wider">Habits</h1>
      <button hx-get="{% url 'habits:add' %}"
              hx-target="#add-habit"
              class="rounded px-4 py-2 bg-secondary">Add habit</button>
    </div>
    <div id="add-habit"></div>
    <div id="list-habits">
      <form class="flex flex-col gap-2 mt-4">
        {% for habit in habits %}
          <div class="p-4 bg-white rounded-md text-lg flex justify-between items-center">
            <div>
              <span class="text-gray-500">Title:</span>
              <span>{{ habit }}</span>
            </div>
            <button class="flex items-center"
                    hx-post="{% url 'habits:log' id=habit.id %}">
              <box-icon class="hover:scale-125 transition duration-500 ease-in-out cursor-pointer" name='check-circle' size="md" color="#F5604A"></box-icon>
            </button>
          </div>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
