<div class="container mt-4 md:mx-auto md:max-w-2xl space-y-4">
{% for message in messages %}
  <div class="flex bg-white p-4 rounded-md justify-between items-center"
     id="messages" role="alert">
    <span {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</span>
    <span id="button-msg" class="inline-block">
      <svg
           class="h-8 w-8 fill-current"
           role="button"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 20 20">
        <title>Close</title>
        <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z">
        </path>
      </svg>
    </span>
  </div>
{% endfor %}
</div>

<script>

  document.getElementById("button-msg").addEventListener('click', event => {
      document.getElementById("messages").remove();
    });

  setTimeout(() => {
    document.getElementById("messages").remove();
  }, 5000);

</script>
