<div id="navigation"
     hx-get="{% url 'core:navbar' %}"
     hx-swap="outerHTML"
     class="flex items-center bg-gray-200 border-2">

  <div class="container flex flex-col md:flex-row-reverse md:justify-between p-4">

    <div class="flex items-center justify-between">
      <button @click.prevent="showMenu = !showMenu"
              class="flex items-center justify-center md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="32"
             height="32">
          <path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path>
        </svg>
      </button>

      <button hx-get="{% url "habits:home" %}"
              hx-push-url="true"
              hx-swap="innerHTML"
              hx-target="#main-content"
              class="flex w-max items-center gap-2 p-2 text-3xl duration-500 transition-scale hover:scale-105 sm:items-start">
        <span class="font-bold text-secondary">Habit</span>
        <span class="font-bold">Stacker</span>
      </button>
    </div>

    <nav x-cloak
         x-transition
         @click.prevent="showMenu = !showMenu"
         :class="showMenu ? 'md:block relative w-full md:w-max bg-gray-200 p-4' : 'hidden md:block relative w-full md:w-max bg-gray-200 p-4'">
      <ul class="flex flex-col md:flex-row items-center justify-center md:justify-start gap-4 text-center md:text-left text-xl md:text-lg">

        {% if user.is_authenticated %}
          <li
            class="w-full md:w-max border-b border-gray-300 p-2 transition-colors duration-500 hover:text-secondary">
            <button hx-get="{% url 'habits:home' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Home
            </button>
          </li>
          <li
            class="w-full md:w-max border-b border-gray-300 p-2 transition-colors duration-500 hover:text-secondary md:max-w-sm">
            <button hx-get="{% url 'users:profile' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Profile
            </button>
          </li>
          <li
            class="w-full md:w-max border-b border-gray-300 p-2 transition-colors duration-500 hover:text-secondary md:max-w-sm">
            <button hx-get="{% url 'users:logout' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Logout
            </button>
          </li>
        {% else %}
          <li
            class="w-full md:w-max border-b border-gray-300 p-2 transition-colors duration-500 hover:text-secondary md:max-w-sm">
            <button hx-get="{% url 'users:login' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Login
            </button>
          </li>
          <li
            class="w-full md:w-max border-b border-gray-300 p-2 transition-colors duration-500 hover:text-secondary md:max-w-sm">
            <button hx-get="{% url 'users:register' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Register
            </button>
          </li>
        {% endif %}

      </ul>
    </nav>

  </div>

</div>
