
<div class="bg-gray-200 flex items-center">
  <div class="container p-4 flex flex-col">

    <div class="flex items-center justify-between">
      <button @click.prevent="showMenu = !showMenu"
              class="flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="32"
             height="32">
          <path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path>
        </svg>
      </button>

      <button hx-get="{% url "core:home" %}"
              hx-push-url="true"
              hx-swap="innerHTML"
              hx-target="#main-content"
              class="text-3xl flex gap-2 items-center sm:items-start p-2 w-max hover:scale-105 transition-scale duration-500">
        <span class="text-secondary font-bold">Habit</span>
        <span class="font-bold">Stacker</span>
      </button>
    </div>

    <nav x-cloak
         x-transition
         x-show="showMenu"
         class="relative p-4 bg-gray-200 w-full">
      <ul class="flex flex-col items-center justify-center text-center gap-4 text-xl md:text-lg">

        {% if user.is_authenticated %}
          <li class="hover:text-secondary transition-colors duration-500 border-b border-gray-300 p-2 w-full md:max-w-sm">
            <button hx-get="{% url 'users:profile' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Profile</button>
          </li>
          <li class="hover:text-secondary transition-colors duration-500 border-b border-gray-300 p-2 w-full md:max-w-sm">
            <button hx-get="{% url 'users:logout' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Logout</button>
          </li>
        {% else %}
          <li class="hover:text-secondary transition-colors duration-500 border-b border-gray-300 p-2 w-full md:max-w-sm">
            <button hx-get="{% url 'users:login' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Login</button>
          </li>
          <li class="hover:text-secondary transition-colors duration-500 border-b border-gray-300 p-2 w-full md:max-w-sm">
            <button hx-get="{% url 'users:register' %}"
                    hx-swap="innerHTML"
                    hx-target="#main-content"
                    hx-push-url="true"
                    class="cursor-pointer tracking-wider">Register</button>
          </li>
        {% endif %}

      </ul>
    </nav>

  </div>
</div>
